<div class=" a" id="ovh">

<div class="navbar navbar-expand-sm navbar-light bg-transparent sticky-top navbar-lewagon nav-progress">
  <div class="container-fluid">
    <div class="container col-sm-6 col-md-7">
      <div class="principal-form" data-controller="form">
        <div class="container ">

          <div class="progress-head progress-bar">
            <div class="step">
              <p>
                Name
              </p>
              <div class="bullet">
                <span>1</span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
            <div class="step">
              <p>
                Categories
              </p>
              <div class="bullet">
                <span>2</span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
            <div class="step">
              <p>
                Ingredients
              </p>
              <div class="bullet">
                <span>3</span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
            <div class="step">
              <p>
                Recipe
              </p>
              <div class="bullet">
                <span>4</span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container  col-sm-6 col-md-7">
  <div class="principal-form" data-controller="form">
    <div class="container">
      <!-- <header>Signup Form</header> -->
      <main>
        <%= simple_form_for(@product) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <section id="paginaCero" class="name">
          <div class="row align-items-center justify-content-center py-5 mt-0" >
            <div class="col">
              <div class="">

                <div class=" text-center p-3 mx-md-3 border-img-photo">
                    <img class="rounded-1" src="/assets/up-photo.png" style="max-width: 100px;"  alt="">
                  <%= f.input :photo, input_html: { class: '' }, label: false %>

                  <%# f.input :photo, input_html: { class: '' }, label_html: { class: 'upload-photo photo-p text-center fs-sm-6 p-0 mt-0 mb-0'}, label: '' %>
                  <p class="text-center mt-0">Adjuntar imagen</p>
                </div>
              </div>
            </div>
            <div class="col p-md-5">
              <div class="form-inputs text-start">
                <%= f.input :name %>
                <%= f.input :price, input_html: { type: 'decimal' } %>
              </div>
               <div class="row">
                <div class="col-8">
                  <p>Status de Producto </p>
                </div>
                <div class="col-4">
                  <%= f.input :status, as: :boolean, input_html: { class: "toggle" } %>
                </div>

              </div>

            </div>
          </div>
          <div class="row">
            <div class="col ">
              <a class="btn btn-primary  rounded-5 px-5 firstNext next" href="#paginaUno" role="button"> <strong> Continuar </strong><i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>

        </section>


        <section id="paginaUno" class="name my-5">
            <div class="row p-1 rounded-5 g-2 text-light justify-content-center align-items-center my-5" >
              <h4 class="text-center mt-3 mt-md-5 mb-sm-3 py-md-5 fs-2">Selecionar Categorias</h4>
              <div class="col-12 col-md-5  p-2">
                <h4 class="text-center mt-md-3 mb-3">Tipo de Coctel</h4>
                  <%= f.input :category,
                                as: :radio_buttons,
                                collection_wrapper_tag: 'div',
                                collection_wrapper_class: 'category-wrapper',
                                item_wrapper_class: 'category-item',
                                input_html: {class: 'category-selector'},
                                collection: Product.categories.keys %>
              </div>

              <div class="col-12 col-md-5  p-2 text-center">
                <h4 class="text-center mt-3 mb-md-3">Tipo de Licor</h4>
                <%= f.input :subcategory,
                  as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item',
                collection: Product.subcategories.keys %>
              </div>
            </div>


          <a class="btn btn-primary  rounded-5 px-5 prev-1 prev"  href="#paginaCero" role="button"> <i class="fa-solid fa-arrow-left"></i><strong> Volver </strong></a>
          <a class="btn btn-primary  rounded-5 px-5 next-1 next"  href="#paginaDos" role="button"> <strong> Continuar </strong><i class="fa-solid fa-arrow-right"></i></a>
        </section>

        <section id="paginaDos" class="name my-5">

            <div data-controller="nested-form">
              <div class="row justify-content-center" >
                <div class="col px-3" style="height: 500px; overflow-y:scroll">
                  <h4 class="text-center ingredient-sect fs-2">Indicar Igredientes</h4>
                  <template data-target="nested-form.template">
                      <%= f.fields_for :ingredients, Ingredient.new, child_index: 'NEW_RECORD' do |ingredient| %>
                        <%= render "ingredient_fields", f: ingredient %>
                      <% end %>
                    </template>

                      <%= f.fields_for :ingredients do |ingredient| %>
                        <%= render "ingredient_fields", f: ingredient %>
                      <% end %>

                  <div class="mb-3 mt-3 px-5" data-target="nested-form.links">
                    <%= link_to "Agregar nuevo ingrediente", "#", class: "btn btn-outline-primary", data: { action: "click->nested-form#add_association" } %>
                  </div>
              </div>
              </div>
            </div>
          <a class="btn btn-primary  rounded-5 px-5 prev-2 prev"  href="#paginaUno" role="button"><i class="fa-solid fa-arrow-left"></i><strong> Volver </strong></a>
          <a class="btn btn-primary  rounded-5 px-5 next-2 next"  href="#paginaTres" role="button"><strong> Continuar </strong><i class="fa-solid fa-arrow-right"></i></a>
        </section>

        <section id="paginaTres" class="name">
          <div class="row justify-content-center " style="height: 500px;">
            <h4 class="text-center recipe-sect fs-2">Indicar Instrucciones Receta</h4>
            <div class="col-12 text-start bg-rich">
              <%= f.rich_text_area :recipe, as: :file %>
              <!-- <%= f.input :recipe %> -->
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, input_html: {class: "submit" } %>
          </div>
            <% end %>

          <a class="btn btn-primary  rounded-5 px-5 prev-3 prev"  href="#paginaDos" role="button"><i class="fa-solid fa-arrow-left"></i><strong> Volver </strong></a>
          <a class="btn btn-primary  rounded-5 px-5 submit"  href="" role="button"><strong> Submit </strong><i class="fa-solid fa-arrow-right"></i></a>
        </section>
      </main>
    </div>
  </div>
</div>

</div>
