<div class="container">
  <section class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card mb-3 bg-show-product">
        <div class="row g-0 rounded-4 ">
          <div class="col-lg-5  d-flex align-items-center justify-content-center img-card-1" >
              <% if @product.photo.attached?  %>
              <%= cl_image_tag @product.photo.key, height: 300, width: 280, crop: :fill, class:"r-img" %>
              <% else %>
            <img src="../assets/copa-rosa.png" class="img-fluid rounded-start" alt="IMAGEN", style="width: 200px;" >
            <% end %>
          </div>
          <div class="col-lg-7 ">
            <div class="card-body">
              <h5 class="card-title"><%= link_to product_path(@product), class: "text-decoration-none fw-bold text-info" do %>
              <h5 class="mt-3 fs-1 text-primary"><%= (@product.name).capitalize %></h5>
            <% end %>
              <% if @product.status %>
                <div class="row">
                  <div class="col">
                    <p class="text-success fs-6">Producto Disponible</p>
                  </div>
                  <% else %>
                  <div class="col">
                    <p class="text-warning fs-6">Producto No Disponible</p>
                  </div>
                <% end %>
              </div>

            <span class="badge rounded-pill bg-dark"><%= @product.category %></span>
                <span class="badge rounded-pill bg-dark"><%= @product.subcategory %></span>
                <p class="card-text fs-5  d-flex justify-content-end me-5"><%= number_to_currency(@product.price) %></p>
                <div class="scroll-card mt-0 pt-0 font-recipe">
                  <tr>
                      <td> <h4 class="text-light fs-5"> <strong> Ingredientes:</strong></h4>
                        <% @product.ingredients.all.each do |p|%>
                        <ul class="list-group">
                          <li class="list-group-item bg-transparent text-light border-0"><i class="fa-solid fa-martini-glass-citrus"></i> <span class="mx-3"><%= p.name %></span></li>
                        </ul>
                        <% end %>
                      </td>
                    <td> <h4 class="text-light fs-5"> <strong> Recipe: </strong></h4> </td>
                      <td> <%= simple_format(@product.recipe) %> </td>
                  </tr>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row justify-content-center">
    <div class="col-lg-10">
                <div class="row justify-content-end">
                  <% if current_user %>
                  <div class="col-lg-2 text-end">

                      <%= link_to products_path, class: "text-decoration-none link-dark", data: { turbo_method: :delete, controller: 'sweetalert', action: "click->sweetalert#show", sweetalert_title_value: @product.name } do %>
                      <i class="fa-solid fa-trash-can rounded-5 p-2 bg-warning"></i>
                         <% end %>


                    <%= link_to edit_product_path(@product), class: "text-decoration-none link-dark circle-icon" do %>
                    <i class="fa-solid fa-pen-to-square rounded-5 p-2 bg-info"></i>
                        <% end %>
                          </div>
                     <% end %>

      </div>
  </section>
</div>
