<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= product.recipe %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product.status %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= product.subcategory %>
  </p>


  <p>ingredients</p>
  <% product.ingredients.all.each do |p|%>
  <ul>
    <li>
      <%= p.name %>
    </li>
  </ul>
  <% end %>

</div>
